Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

Arachnid fix (still inconsistent)
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Owners: @CrimeMoot, @RedSpyy

Fix base species layers
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @CrimeMoot, @RedSpyy

ADT moff
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
Owners: @CrimeMoot, @RedSpyy

Felinid layers fix (inconsistency is still present)
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
Owners: @CrimeMoot, @RedSpyy

Shadowkin visual layers fix
  Resources/Prototypes/ADT/Entities/Mobs/Species/shadekin.yml
Owners: @CrimeMoot, @RedSpyy

Update vox.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Owners: @CrimeMoot, @RedSpyy

Duplicate fix
  Resources/Prototypes/ADT/Entities/Mobs/Species/felinid.yml
Owners: @CrimeMoot, @RedSpyy

fix duplicate locale
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
Owners: @HyperB1

remove shuttle lighting
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
Owners: @CrimeMoot, @RedSpyy

ignore
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

revert
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
Owners: @CrimeMoot, @RedSpyy

rebase debug
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

debug
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

ты меня заибал уже
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

fix?
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/EntityTest.cs
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_shuttle_lighting.ftl
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/lighting.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

1
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Owners: @CrimeMoot, @RedSpyy

fix tests gihtub (#172)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_shuttle_lighting.ftl
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

fix light
  Resources/Maps/ADTMaps/ADTStations/adt_cyberiada.yml
  Resources/Maps/ADTMaps/Shuttles/mining.yml
  Resources/Maps/ADTMaps/Shuttles/pioneer.yml
  Resources/Maps/ADTMaps/Shuttles/sec_shuttle.yml
Owners: @AltMapper

bash
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

bash - я устал босс (#173)
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Skipping TestGhostOnDelete because MobRandom
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

Skipping TestGhostOnDelete because MobRandom prototypes are presen
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

fix proto
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

MobRandom
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

revert
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

Change localization format
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @CrimeMoot

Add minutes back
  Resources/Locale/ru-RU/_lib.ftl
Owners: @HyperB1

Tweak time requirement localization
  Resources/Locale/ru-RU/job/role-requirements.ftl
Owners: @HyperB1

fix "minutes" repeating twice
  Resources/Locale/ru-RU/job/role-requirements.ftl
Owners: @HyperB1

s
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

ImmovableRod test
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

mobrandom
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

fix
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

DOTNET
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

fix
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

warning
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

debug
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Content.IntegrationTests zaibal
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

RadiationBlocker
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Owners: @CrimeMoot, @RedSpyy

CrateSyndicate
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
Owners: @CrimeMoot, @RedSpyy

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1
