Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

Revert "Revert "Revert "fix" (возвращение кобуры)" (#156)"
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @CrimeMoot, @RedSpyy, @AltMapper

костыли на базе
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

костылей мало, несите коляску
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

Привязали к коляске синей изолентой чтоб точно не упал
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

fix?
  Resources/Prototypes/ADT/StatusIcon/job.yml
  Resources/Prototypes/StatusIcon/job.yml
Owners: @CrimeMoot, @RedSpyy

fix?
  Resources/Prototypes/ADT/StatusIcon/job.yml
  Resources/Prototypes/StatusIcon/job.yml
Owners: @CrimeMoot, @RedSpyy

revert
  Resources/Prototypes/ADT/StatusIcon/job.yml
  Resources/Prototypes/StatusIcon/job.yml
Owners: @CrimeMoot, @RedSpyy

Update revolutionary.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
Owners: @CrimeMoot, @RedSpyy

Wizard timer tweak
  Resources/Prototypes/Roles/Antags/wizard.yml
Owners: @CrimeMoot, @RedSpyy

skip ContainerContainer
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
Owners: @CrimeMoot

Возвращение к нормальному состоянию
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

Update build-test-debug.yml
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

fix?
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
Owners: @CrimeMoot, @RedSpyy

oops
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
Owners: @CrimeMoot, @RedSpyy

stack chat
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/CCVar/CCVars.Chat.cs
  Resources/Locale/ru-RU/_Ganimed/Chat/chatstack.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

fix
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Owners: @CrimeMoot

stack chat (#163)
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/CCVar/CCVars.Chat.cs
  Resources/Locale/ru-RU/_Ganimed/Chat/chatstack.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

do after cog
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

emotes cooldown
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Emoting/EmotingComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
Owners: @CrimeMoot

fix
  Resources/Prototypes/_Ganimed/Entities/Effects/SupplyPod/base_supplypod_effects.yml
Owners: @CrimeMoot, @RedSpyy

CRLF
  Resources/Locale/en-US/_Ganimed/station-events/events/events.ftl
  Resources/Locale/ru-RU/_Ganimed/entities/effects/triggers.ftl
  Resources/Locale/ru-RU/_Ganimed/entities/markers/spawners/supplypod.ftl
  Resources/Locale/ru-RU/_Ganimed/entities/structures/specific/rockets/rockets.ftl
  Resources/Locale/ru-RU/_Ganimed/entities/structures/storage/supplypod/supplypod.ftl
  Resources/Locale/ru-RU/_Ganimed/station-events/events/events.ftl
  Resources/Prototypes/_Ganimed/Catalog/Fills/stray_supply_pod.yml
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_Ganimed/Catalog/rockets.yml
  Resources/Prototypes/_Ganimed/Entities/Effects/Rockets/rockets_effects.yml
  Resources/Prototypes/_Ganimed/Entities/Effects/SupplyPod/base_supplypod_effects.yml
  Resources/Prototypes/_Ganimed/Entities/Effects/SupplyPod/supplypod_effects.yml
  Resources/Prototypes/_Ganimed/Entities/Effects/triggers.yml
  Resources/Prototypes/_Ganimed/Entities/Markers/Spawners/supplypod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Specific/Rockets/base_rocket.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Specific/Rockets/rocket.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/base_supply_pod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
  Resources/Prototypes/_Ganimed/GameRules/events.yml
  Resources/Prototypes/_Ganimed/Recipes/Construction/Graphs/structures/supplypod.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

fix sprite
  Resources/Textures/_Ganimed/Structures/Specific/Rockets/rocket.rsi/icon.png
  Resources/Textures/_Ganimed/Structures/Specific/Rockets/rocket.rsi/meta.json
  Resources/Textures/_Ganimed/Structures/Specific/Rockets/rocket.rsi/rubble_overlay.png
  Resources/Textures/_Ganimed/Structures/Specific/Rockets/rocket_syndicate.rsi/icon.png
  Resources/Textures/_Ganimed/Structures/Specific/Rockets/rocket_syndicate.rsi/meta.json
  Resources/Textures/_Ganimed/Structures/Specific/Rockets/rocket_syndicate.rsi/rubble_overlay.png
Owners: @CrimeMoot

fix
  Resources/Prototypes/_Ganimed/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_Ganimed/Catalog/Fills/stray_supply_pod.yml
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
Owners: @CrimeMoot, @RedSpyy

CRLF
  Resources/Prototypes/_Ganimed/Catalog/Fills/Crates/materials.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/_Ganimed/Catalog/Fills/Crates/materials.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/_Ganimed/Catalog/Fills/Crates/materials.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
Owners: @CrimeMoot, @RedSpyy

snova fix
  Resources/Prototypes/_Ganimed/Recipes/Construction/Graphs/structures/supplypod.yml
Owners: @CrimeMoot, @RedSpyy

disable bar
  Content.Client/DoAfter/DoAfterOverlay.cs
Owners: @CrimeMoot

remove diamond
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @CrimeMoot, @RedSpyy

remove diamond observer (#167)
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @CrimeMoot, @RedSpyy

emotes cooldown (#165)
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Emoting/EmotingComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @CrimeMoot, @RedSpyy

Doafter Cog (#164)
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

Revert "Doafter Cog (#164)"
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

Revert "Doafter Cog" (#168)
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

fix pod
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
  Resources/Prototypes/_Ganimed/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

emote delay
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @CrimeMoot, @RedSpyy

more fix, pod and delay emote (#169)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
  Resources/Prototypes/_Ganimed/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy
