Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

re.compile and delete
  Tools/ganimed/pr_to_discord.py
Owners: @CrimeMoot

Еретик больше не гибает цели
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.AshAscend.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Shared/ADT/Heretic/Components/SacrificedComponent.cs
  Resources/Locale/en-US/_Ganimed/heretic/sacrificed.ftl
  Resources/Locale/ru-RU/_Ganimed/heretic/sacrificed.ftl
Owners: @CrimeMoot, @HyperB1

Изменение жертвоприношения Еретика
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
Owners: @CrimeMoot

protolocale
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/PKAs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/pka.ftl
Owners: @HyperB1

Исправление неправильного применения слова "разряженная"
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Weapons/Guns/PKAs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/pka.ftl
Owners: @HyperB1

is_inside_comment
  Tools/ganimed/pr_to_discord.py
Owners: @CrimeMoot

AlertLevelAccess
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Shared/_Ganimed/Access/AlertLevelAccessComponent.cs
  Resources/Locale/ru-RU/_Ganimed/access/accses-update.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

AlertLevelSystem
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/_Ganimed/AlertLevel/AlertLevelAccessSystem.cs
Owners: @CrimeMoot

clear using
  Content.Server/AlertLevel/AlertLevelSystem.cs
Owners: @CrimeMoot

alertAccessComp
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
Owners: @CrimeMoot

fix access
  Content.Server/_Ganimed/AlertLevel/AlertLevelAccessSystem.cs
Owners: @CrimeMoot

ftl
  Resources/Locale/ru-RU/_Ganimed/access/access-update.ftl
Owners: @HyperB1

blacklist remove
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Owners: @CrimeMoot, @RedSpyy

debuguot
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

Ликвидация глаз с ритуалов еретика
  Resources/Prototypes/ADT/Heretic/Heretic/heretic_rituals.yml
Owners: @CrimeMoot, @RedSpyy

Поправка времени НР
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Owners: @CrimeMoot, @RedSpyy

license
  Resources/Textures/_Ganimed/Clothing/Head/Hats/ussp_beret.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Cloaks/hieroglyphics.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Cloaks/orange.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/bigwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/mirabrassiere.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Tshirt/shirt.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/mirapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/whitestring.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/magnoliapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/military.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/ntpants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/cloth_wraps.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/blackbrigmedic.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/blackcoroner.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/USSP/ussp_form.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/USSP/ussp_form_commander.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/blackbrigmedic.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/blackcoroner.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/bridgeofficer.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/goldenerasuit.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/military.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Misc/Handy_Flags/TSF_handy_flag.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Misc/pens.rsi/meta.json
Owners: @CrimeMoot

dup
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/goldenerasuit.rsi/meta.json
Owners: @CrimeMoot

CLA
  .github/rsi-schema.json
  Resources/Textures/_Ganimed/Clothing/Head/Hats/ussp_beret.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Cloaks/hieroglyphics.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Cloaks/orange.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/bigwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/mirabrassiere.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Tshirt/shirt.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/mirapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/whitestring.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/magnoliapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/military.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/ntpants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/blackbrigmedic.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/blackcoroner.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/USSP/ussp_form.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/USSP/ussp_form_commander.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/blackbrigmedic.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/blackcoroner.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/bridgeofficer.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/goldenerasuit.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/military.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Misc/Handy_Flags/TSF_handy_flag.rsi/meta.json
Owners: @CrimeMoot

мне нравиться движок игры не позволяющий сделать CLA без упадка теста :D
  Resources/Textures/Objects/Misc/guardian_info.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Head/Hats/ussp_beret.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Cloaks/hieroglyphics.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Cloaks/orange.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/bigwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/mirabrassiere.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Tshirt/shirt.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/mirapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/whitestring.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/magnoliapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/military.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/ntpants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/blackbrigmedic.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/blackcoroner.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/USSP/ussp_form.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/USSP/ussp_form_commander.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/blackbrigmedic.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/blackcoroner.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/bridgeofficer.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/goldenerasuit.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpsuit/military.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Misc/Handy_Flags/TSF_handy_flag.rsi/meta.json
Owners: @CrimeMoot

equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/original_psychologist.rsi/meta.json
Owners: @CrimeMoot

.png
  Resources/Textures/_Ganimed/Clothing/Uniforms/Jumpskirt/original_psychologist.rsi/meta.json
Owners: @CrimeMoot

check-trailing-whitespace
  .github/workflows/check-trailing-whitespace.yml
Owners: @CrimeMoot, @RedSpyy

convet CRLF > LF
  .github/workflows/check-trailing-whitespace.yml
Owners: @CrimeMoot, @RedSpyy

locale_check_ftl
  .github/workflows/locale-check.yml
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot, @RedSpyy

localization
  .github/workflows/locale-check.yml
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot, @RedSpyy

fetch-depth xd
  .github/workflows/locale-check.yml
Owners: @CrimeMoot, @RedSpyy

путь проибал
  .github/workflows/locale-check.yml
Owners: @CrimeMoot, @RedSpyy

en-US
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

lines
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

locale
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/ru-RU/entity-categories.ftl
Owners: @HyperB1

parsing
  Resources/Locale/ru-RU/connection-messages.ftl
  Tools/ganimed/locale_check_ftl.py
Owners: @HyperB1, @CrimeMoot

local 2
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Tools/ganimed/locale_check_ftl.py
Owners: @HyperB1, @CrimeMoot

passed
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

ignore
  Resources/Locale/en-US/connection-messages.ftl
  Tools/ganimed/locale_check_ftl.py
Owners: @HyperB1, @CrimeMoot

test pr
  CHANGES.md
Owners: @CrimeMoot

JukeBox UI
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Shared/Audio/Jukebox/SharedJukeboxSystem.cs
  Resources/Locale/en-US/_Ganimed/jukebox-volume.ftl
  Resources/Locale/ru-RU/_Ganimed/jukebox-volume.ftl
Owners: @CrimeMoot, @HyperB1

Update JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
Owners: @CrimeMoot

AltJobs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml.cs
  Content.Server.Database/Migrations/Postgres/20241212015038_AltJobTitle.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241212015038_AltJobTitle.cs
  Content.Server.Database/Migrations/Sqlite/20241212015023_AltJobTitle.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241212015023_AltJobTitle.cs
  Content.Server.Database/Model.cs
  Content.Server/Access/Components/PresetIdCardComponent.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Roles/JobAlternateTitlePrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/Jobs/JobRoleComponent.cs
  Resources/Locale/ru-RU/_Ganimed/job/job-alt-names.ftl
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

remove register AlternateTitleId
  Content.Shared/Roles/Jobs/JobRoleComponent.cs
Owners: @CrimeMoot
