Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

ActivatableUIBlockedByAlert
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/_Ganimed/ActivatableUIBlockedByAlertComponent.cs
  Content.Server/_Ganimed/ActivatableUIBlockedByAlertSystem.cs
  Content.Server/_Ganimed/AlertLevel/AlertLevelAccessSystem.cs
  Resources/Locale/en-US/_Ganimed/station-events/UIBlockedAlert.ftl
  Resources/Locale/ru-RU/ADT/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/_Ganimed/access/access-update.ftl
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

BlockedAlertLevelCode
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Owners: @CrimeMoot, @RedSpyy

translait
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Owners: @CrimeMoot, @RedSpyy

BlockedAlertLevelCode:
  Content.Server/_Ganimed/ActivatableUIBlockedByAlertComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Owners: @CrimeMoot, @RedSpyy

IonStorm limite 2
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

StationJammer
  Content.Shared/_Ganimed/Jammer/RequiresNoJammerComponent.cs
  Content.Shared/_Ganimed/Jammer/SetJammerOnSpawnComponent.cs
  Content.Shared/_Ganimed/Jammer/StationJammerComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
Owners: @CrimeMoot, @RedSpyy

maxOccurrences fix
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

comment
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Owners: @CrimeMoot, @RedSpyy

SeedDna
  Content.Client/_Ganimed/SeedDna/System/SeedDnaConsoleSystem.cs
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleBoundUserInterface.cs
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleWindow.xaml
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleWindow.xaml.cs
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleWindowRow.cs
  Content.Server/Botany/Components/SeedComponent.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/_Ganimed/SeedDna/System/SeedDnaConsoleSystem.cs
  Content.Shared/_Ganimed/SeedDna/Components/DnaDiskComponent.cs
  Content.Shared/_Ganimed/SeedDna/Components/SeedDnaConsoleComponent.cs
  Content.Shared/_Ganimed/SeedDna/Dto/SeedChemQuantityDto.cs
  Content.Shared/_Ganimed/SeedDna/Dto/SeedDataDto.cs
  Content.Shared/_Ganimed/SeedDna/Dto/SeedDnaConsoleBoundUserInterfaceState.cs
  Content.Shared/_Ganimed/SeedDna/Dto/WriteToTargetSeedDataMessage.cs
  Content.Shared/_Ganimed/SeedDna/SeedDnaConsoleUiKey.cs
  Content.Shared/_Ganimed/SeedDna/System/SharedSeedDnaConsoleSystem.cs
  Resources/Locale/ru-RU/_Ganimed/seed-dna.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Ganimed/Entities/Objects/Devices/Circiutboards/computer.yml
  Resources/Prototypes/_Ganimed/Entities/Objects/Specific/Research/console.yml
  Resources/Prototypes/_Ganimed/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/_Ganimed/Recipes/Lathes/electronics.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

BotanicDNADisk craft
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Ganimed/Recipes/Lathes/botany.yml
Owners: @CrimeMoot, @RedSpyy

Locale
  Resources/Locale/ru-RU/_Ganimed/seed-dna.ftl
Owners: @HyperB1

Ganimed
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
Owners: @CrimeMoot, @RedSpyy

White ciltrobes
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/equipped-HELMET.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/iconhelmet.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/inhand-lefthelmet.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/inhand-righthelmet.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/meta.json
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/iconrobes.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/inhand-leftrobe.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/inhand-rightrobe.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/meta.json
Owners: @HyperB1, @CrimeMoot, @RedSpyy, @AltMapper

icon fix
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/icon.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/icon.png
Owners: @HyperB1, @CrimeMoot

more sponsor test / server_config
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Resources/ConfigPresets/Enterprise/server_config.toml
Owners: @CrimeMoot

incognito sponsor true
  Resources/Prototypes/_Ganimed/Traits/disabilities.yml
Owners: @CrimeMoot, @RedSpyy

local
  Resources/Locale/ru-RU/_Ganimed/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/_Ganimed/Traits/categories.yml
  Resources/Prototypes/_Ganimed/Traits/disabilities.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

fix
  Content.Shared/Roles/Jobs/JobRoleComponent.cs
Owners: @CrimeMoot

fix1
  Content.Shared/Roles/Jobs/JobRoleComponent.cs
Owners: @CrimeMoot

fix point
  Resources/Locale/ru-RU/entity-systems/pointing/pointing-system.ftl
Owners: @HyperB1

locale silicon
  Resources/Locale/en-US/_Ganimed/silicons/silicons.ftl
  Resources/Locale/ru-RU/_Ganimed/silicons/silicons.ftl
Owners: @HyperB1

fix delivery
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Resources/Locale/en-US/fingerprint-reader/fingerprint-reader.ftl
  Resources/Locale/ru-RU/_Ganimed/fingerprint-reader/fingerprint-reader.ftl
Owners: @CrimeMoot, @HyperB1

Sprite name fix
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/inhand-left.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/inhand-right.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/inhand-left.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/inhand-right.png
Owners: @CrimeMoot

locale fix
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
Owners: @HyperB1

fix part
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Owners: @CrimeMoot, @RedSpyy

Lighting
  Content.Client/Light/AmbientOcclusionOverlay.cs
  Content.Client/Light/EntitySystems/PlanetLightSystem.cs
  Content.Client/Light/RoofOverlay.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Shared/CCVar/CCVars.Lighting.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Shaders/Stencils.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

incognito antag
  Content.Server/Antag/AntagSelectionSystem.cs
Owners: @CrimeMoot

revert phon
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
Owners: @CrimeMoot, @RedSpyy

Local Material Silo (#36492)
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Materials/OreSiloSystem.cs
  Content.Client/Materials/UI/MaterialStorageControl.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Client/Materials/UI/OreSiloBoundUserInterface.cs
  Content.Client/Materials/UI/OreSiloMenu.xaml
  Content.Client/Materials/UI/OreSiloMenu.xaml.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Materials/OreSiloSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/OreSilo/OreSiloClientComponent.cs
  Content.Shared/Materials/OreSilo/OreSiloComponent.cs
  Content.Shared/Materials/OreSilo/SharedOreSiloSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/materials/silo.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
  Resources/Textures/Structures/Machines/silo.rsi/meta.json
  Resources/Textures/Structures/Machines/silo.rsi/overlay_active.png
  Resources/Textures/Structures/Machines/silo.rsi/silo.png
  Resources/Textures/Structures/Machines/silo.rsi/silo_active.png
Owners: @CrimeMoot, @HyperB1, @RedSpyy

silo fix
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Server/Materials/OreSiloSystem.cs
  Content.Shared/Materials/OreSilo/OreSiloComponent.cs
  Content.Shared/Materials/OreSilo/SharedOreSiloSystem.cs
  Resources/Prototypes/ADT/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Owners: @CrimeMoot, @RedSpyy

public float Range
  Content.Shared/Materials/OreSilo/OreSiloComponent.cs
Owners: @CrimeMoot

fix
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: @CrimeMoot, @RedSpyy

remap to silo
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cyberiada.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
Owners: @AltMapper

locale
  Resources/Locale/ru-RU/materials/silo.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/silo.ftl
Owners: @HyperB1

fix
  Resources/Textures/Objects/Materials/Sheets/other.rsi/generic_materials.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
Owners: @CrimeMoot

check
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

{key}
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

{key}
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

test
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot

dependencies
  .github/workflows/locale-check.yml
Owners: @CrimeMoot, @RedSpyy
