Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

Space law
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/books.ftl
Owners: @HyperB1

locale rebase
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/personalization/personalization.ftl
Owners: @HyperB1

Убраны дубликаты СРП книг в шкафах
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Owners: @CrimeMoot, @RedSpyy

[КОСТЫЛЬ] Фикс книги с КЗ до фикса на ADT
  Resources/Prototypes/ADT/Entities/Objects/Misc/books.yml
  Resources/migration.yml
Owners: @CrimeMoot, @RedSpyy

последняя версия карты
  Resources/Maps/_Ganimed/salut.yml
Owners: @AltMapper

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

test
  CODE_OF_CONDUCT.md
Owners: @CrimeMoot

Revert "Groundwork for spacing audio. We need to check for suits after this."
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/_Ganimed/ImmersiveSpacing/SpacingImmersionSystem.cs
  Content.Shared/_Ganimed/Components/SpaceAudioVulnerableComponent.cs
  Content.Shared/_Ganimed/Components/SpacedAudioComponent.cs
Owners: @CrimeMoot

fixim
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
Owners: @CrimeMoot, @RedSpyy

forensics
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Owners: @CrimeMoot

CopyForensicsFrom
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Shared/Storage/EntitySpawnEntry.cs
Owners: @CrimeMoot

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

Jukebox Update
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Resources/Locale/en-US/jukebox/jukebox-menu.ftl
  Resources/Locale/ru-RU/jukebox/jukebox-menu.ftl
Owners: @CrimeMoot, @HyperB1

fix
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
Owners: @CrimeMoot

bliat
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
Owners: @CrimeMoot

Revert "Communication interception disable (#189)"
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

Shorten salary anouncement
  Resources/Locale/ru-RU/ADT/economy/announcemets.ftl
Owners: @HyperB1

asuka sponsor item
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/personalization/personalization.ftl
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
  Resources/Prototypes/_Ganimed/Loadouts/SponsorLoadout.yml
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/equipped-NECK.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/icon.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/inhand-left.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/inhand-right.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/meta.json
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

issue-280, Meson
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @CrimeMoot

revert Geras
  Content.Client/_Ganimed/Geras/GerasComponent.cs
  Content.Client/_Ganimed/Geras/GerasSystem.cs
  Content.Server/_Ganimed/Geras/GerasComponent.cs
  Content.Server/_Ganimed/Geras/GerasSystem.cs
  Content.Shared/_Ganimed/Geras/SharedGerasComponent.cs
  Content.Shared/_Ganimed/Geras/SharedGerasSystem.cs
  Resources/Locale/ru-RU/_Ganimed/actions/types.ftl
  Resources/Locale/ru-RU/_Ganimed/geras/geras.ftl
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Ganimed/Actions/types.yml
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/_Ganimed/Polymorphs/polymorph.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime_dead.png
Owners: @CrimeMoot, @HyperB1, @RedSpyy

ccvar AutoLoobby
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Resources/Prototypes/ADT/game_presets.yml
Owners: @CrimeMoot, @RedSpyy

fix TableRedWood
  Resources/Prototypes/ADT/Recipes/Construction/Graph/furniture/tables.yml
Owners: @CrimeMoot, @RedSpyy

fix narcolepsy
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
Owners: @CrimeMoot

fix polymorph
  Content.Server/Polymorph/Systems/PolymorphSystem.Trigger.cs
Owners: @CrimeMoot

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

fix
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
Owners: @CrimeMoot

Update roundstart.yml
  Resources/Prototypes/ADT/Languages/roundstart.yml
Owners: @CrimeMoot, @RedSpyy

made sign language available roundstart
  Resources/Prototypes/ADT/Languages/languages.yml
Owners: @CrimeMoot, @RedSpyy

FIX OPAT
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
Owners: @CrimeMoot

Update Ursus.yml
  Resources/Prototypes/ADT/Species/Ursus.yml
Owners: @CrimeMoot, @RedSpyy

Tajarans are no longer fluent in CintaTajir by default
  Resources/Prototypes/ADT/Species/Tajaran.yml
Owners: @CrimeMoot, @RedSpyy

Make binary only available to IPCs
  Resources/Prototypes/ADT/Species/ipc.yml
Owners: @CrimeMoot, @RedSpyy

Update demon.yml
  Resources/Prototypes/ADT/Species/demon.yml
Owners: @CrimeMoot, @RedSpyy

Reptilians are no longer fluent in CintaTajir by default
  Resources/Prototypes/Species/reptilian.yml
Owners: @CrimeMoot, @RedSpyy

Update languages description
  Resources/Locale/ru-RU/ADT/Languages/languages.ftl
Owners: @HyperB1

- Перегенирировал миграции таблицы. Починено сохранение и загрузка альтернативных должностей в профль пользователя
  Content.Server.Database/Migrations/Postgres/20241212015038_AltJobTitle.cs
  Content.Server.Database/Migrations/Postgres/20250904114605_DBJobAlternateTitle.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250904114605_DBJobAlternateTitle.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20241212015023_AltJobTitle.cs
  Content.Server.Database/Migrations/Sqlite/20250904114556_DBJobAlternateTitle.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250904114556_DBJobAlternateTitle.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
Owners: @CrimeMoot

fix requirements
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml.cs
Owners: @CrimeMoot

fix presetidcard
  Content.Server/Access/Systems/PresetIdCardSystem.cs
Owners: @CrimeMoot

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot
