Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

Megakamaz
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Locale/ru-RU/_Ganimed/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Prototypes/_Ganimed/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/inhand-left-light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/inhand-right-light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/off-inhand-left.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/off-inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_off.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_on.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_on_light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/uma_stunbaton.rsi.rar
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/equipped-BELT.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/inhand-left-light.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/inhand-right-light.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/meta.json
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/off-inhand-left.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/off-inhand-right.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/on-inhand-left.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/on-inhand-right.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_off.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_on.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_on_light.png
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Scale float from 0 to 1
  Content.Server/ADT/SizeAttribute/SizeAttributeWhitelistComponent.cs
Owners: @CrimeMoot

Update human.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Owners: @CrimeMoot, @RedSpyy

Update reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Owners: @CrimeMoot, @RedSpyy

Update diona.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Owners: @CrimeMoot, @RedSpyy

Update slime.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Owners: @CrimeMoot, @RedSpyy

Fix clone traits
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @CrimeMoot, @RedSpyy

Fix copyright and underweart slot color
  Resources/Textures/Interface/Default/Slots/underweart.png
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/bigwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/mirabrassiere.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Tshirt/shirt.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/alterwhite.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/anime.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cat.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/flower.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/heart.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/mirapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/white.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/whitestring.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/magnoliapants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/military.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/ntpants.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Male/white.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Devices/pda.rsi/meta.json
Owners: @CrimeMoot

Update GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Owners: @CrimeMoot

HyperLink
  Resources/Prototypes/ADT/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Owners: @CrimeMoot, @RedSpyy

Link
  Content.Client/ADT/Lobby/UI/DiscordLinkWindow.xaml.cs
  Content.Server/Connection/ConnectionManager.cs
Owners: @CrimeMoot

rnd local
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.cs
Owners: @CrimeMoot

Rebasing folders
  Resources/Locale/ru-RU/_Ganimed/entities/personalization.ftl
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Fix player minimal
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
Owners: @CrimeMoot, @RedSpyy

Parent and meta fix
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/meta.json
Owners: @CrimeMoot, @RedSpyy

fix
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleWindow.xaml.cs
Owners: @CrimeMoot

oops
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleWindow.xaml.cs
Owners: @CrimeMoot

fix
  Content.Shared/ADT/Mech/Systems/MechPhazeSystem.cs
Owners: @CrimeMoot

Add "Ganimed-tweak"
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
  Resources/Prototypes/ADT/game_presets.yml
Owners: @CrimeMoot, @RedSpyy

Size, sound and held preffix fix
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
Owners: @CrimeMoot, @RedSpyy

Add Agzamov sponsor item in inventory
  Resources/Prototypes/_Ganimed/Loadouts/SponsorLoadout.yml
Owners: @HyperB1

job_whitelist
  Content.Shared/_Ganimed/Loadouts/Effects/JobRestrictedLoadoutEffect.cs
  Resources/Locale/ru-RU/corvax/preferences/loadouts.ftl
Owners: @CrimeMoot, @HyperB1

Fix RD syntax and comments
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Owners: @CrimeMoot, @RedSpyy

whitelist Jobs fix
  Resources/Prototypes/_Ganimed/Loadouts/SponsorLoadout.yml
Owners: @HyperB1

Мелкие правки (КМ, клоун, психолог)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Owners: @CrimeMoot, @RedSpyy

little fix
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
Owners: @CrimeMoot, @RedSpyy

Поправлен размер в разных состояниях и урон при броске
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
Owners: @CrimeMoot, @RedSpyy

СБ и ОСЩ
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Owners: @CrimeMoot, @RedSpyy

Комментарий
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Owners: @CrimeMoot, @RedSpyy

1
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Materials/OreSiloSystem.cs
  Content.Client/Materials/UI/MaterialStorageControl.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Client/Materials/UI/OreSiloBoundUserInterface.cs
  Content.Client/Materials/UI/OreSiloMenu.xaml
  Content.Client/Materials/UI/OreSiloMenu.xaml.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/OreSilo/OreSiloClientComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/materials/silo.ftl
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
  Resources/Prototypes/ADT/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Objects/Materials/Sheets/other.rsi/generic_materials.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Structures/Machines/silo.rsi/meta.json
  Resources/Textures/Structures/Machines/silo.rsi/overlay_active.png
  Resources/Textures/Structures/Machines/silo.rsi/silo.png
  Resources/Textures/Structures/Machines/silo.rsi/silo_active.png
Owners: @CrimeMoot, @HyperB1, @AltMapper, @RedSpyy

fix stamp
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @CrimeMoot

robust
  Content.Shared/Tag/TagSystem.cs
Owners: @CrimeMoot

paper_stamp-signature
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Owners: @CrimeMoot

fix walking
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/Alert/ServerAlertsSystem.cs
  Content.Shared/Alert/AlertsComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/Interface/Alerts/walking.rsi/meta.json
  Resources/Textures/Interface/Alerts/walking.rsi/walking.png
Owners: @CrimeMoot, @HyperB1, @RedSpyy

oops
  Content.Client/Alerts/ClientAlertsSystem.cs
Owners: @CrimeMoot

alertssystem
  Content.Client/Alerts/ClientAlertsSystem.cs
Owners: @CrimeMoot

fix test
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

locale
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/entity-categories.ftl
  Resources/Locale/ru-RU/entity-systems/pointing/pointing-system.ftl
  Resources/Prototypes/ADT/Entities/Objects/Weapons/Guns/Revolvers/saber_revolvers.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

StartsWith
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

clear
  Content.Client/Physics/Controllers/MoverController.cs
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot
