Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @Yuoko, @AltMapper

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy @HyperB1
/Resources/Prototypes/ @CrimeMoot @RedSpyy @HyperB1

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Administration
/Resources/ConfigPresets/ @CrimeMoot @RedSpyy @Yuoko
/Content.*/Administration/ @CrimeMoot @RedSpyy @Yuoko

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/*/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
*.png @HyperB1 @AltMapper
*meta.json @HyperB1 @AltMapper
/Resources/Textures/ @HyperB1 @AltMapper

# Species
/Resources/Prototypes/Species/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/*/Species/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Entities/Mobs/Species/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/*/Entities/Mobs/Species/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Entities/Mobs/Player/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/*/Entities/Mobs/Player/ @AltMapper @Yuoko @HyperB1

# Other unique content
/Resources/Prototypes/Traits/ @CrimeMoot @HyperB1
/Resources/Prototypes/*/Traits/ @CrimeMoot @HyperB1
/Resources/Prototypes/Roles/ @HyperB1 @RedSpyy @Yuoko @AltMapper
/Resources/Prototypes/*/Roles/ @HyperB1 @RedSpyy @Yuoko @AltMapper
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/*/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper @HyperB1
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/*/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/GameRules/ @HyperB1 @AltMapper @CrimeMoot @Yuoko

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/*/Guidebook/ @AltMapper @Yuoko @HyperB1

Chat Stack
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/CCVar/CCVars.Chat.cs
Owners: @CrimeMoot

Update ChatBox.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Owners: @CrimeMoot

Yes C Sharp
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Shared/CCVar/CCVars.Server.cs
  Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Owners: @CrimeMoot, @RedSpyy

Update station-goal-component.ftl
  Resources/Locale/ru-RU/ADT/station-goal/station-goal-component.ftl
Owners: @HyperB1

Update options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Owners: @HyperB1

Update CCVars.Accessibility.cs
  Content.Shared/CCVar/CCVars.Accessibility.cs
Owners: @CrimeMoot

Reorganize content folders, fix namespace
  Content.Client/_Ganimed/SeedDna/UI/SeedDnaConsoleWindowRow.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Botany/Components/SeedComponent.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/_Ganimed/IncognitoSystem.cs
  Content.Server/_Ganimed/Traits/Assorted/IncognitoSystem.cs
  Content.Shared/_Ganimed/Preferences/Loadouts/Effects/JobRestrictedLoadoutEffect.cs
  Content.Shared/_Ganimed/Traits/Assorted/SetIncognitoComponent.cs
  Resources/Locale/ru-RU/_Ganimed/botany/seed-dna.ftl
  Resources/Locale/ru-RU/_Ganimed/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/manifest.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

Locale consistency
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Owners: @HyperB1

Fix merge conflict
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
Owners: @AltMapper

MaxOccurrences IanHero & SuperHeroEvent & WormholesSpawn
  Resources/Prototypes/ADT/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

Backpack name fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @HyperB1

Make superian event rarer
  Resources/Prototypes/ADT/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

Make superhero event rarer
  Resources/Prototypes/ADT/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

omega soap diff
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot
