Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

fixing coat paths
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/coats.yml
Owners: @AltMapper

Fixing entity IDs
  Resources/Locale/ru-RU/_Ganimed/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/_Ganimed/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Ganimed/Loadouts/Jobs/Centcom/centcom.yml
  Resources/Prototypes/_Ganimed/Loadouts/Jobs/Command/adjutant.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy, @AltMapper

Nitpick fixes
  Resources/Prototypes/_Ganimed/Loadouts/Miscellaneous/spare_clothing.yml
  Resources/Prototypes/_Ganimed/Loadouts/Miscellaneous/undergarments.yml
  Resources/Prototypes/_Ganimed/Loadouts/loadout_groups.yml
Owners: @HyperB1

Fix unrelated jumpsuits locale
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
Owners: @HyperB1

бригмедику и главному врачу добавлен стетоскоп в лодаут
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

берцы инженерам
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Ganimed/Loadouts/Jobs/Engineering/station_engineer.yml
Owners: @HyperB1

противогазы атмоса
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Ganimed/Loadouts/Jobs/Engineering/atmospheric_technician.yml
Owners: @CrimeMoot, @RedSpyy, @HyperB1

головные уборы детектива
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Ganimed/Loadouts/Jobs/Security/security_officer.yml
Owners: @HyperB1

osnova
  Content.Server/ADT/Economy/BankCardSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Content.Shared/_Ganimed/VendingMachines/DepartmentVendingComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Owners: @CrimeMoot, @RedSpyy

trash
  Content.Shared/_Ganimed/VendingMachines/DepartmentVendingComponent.cs
Owners: @CrimeMoot

sus
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/_Ganimed/VendingMachines/JobVendingComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Owners: @CrimeMoot, @RedSpyy

Make Elysian sound less Germanic and more Latin
  Resources/Prototypes/ADT/Languages/roundstart.yml
Owners: @CrimeMoot, @RedSpyy

Update translators.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/translators.ftl
Owners: @HyperB1

Update implanters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
Owners: @HyperB1

Update subdermal_implants.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/subdermal_implants.ftl
Owners: @HyperB1

Update roundstart.yml
  Resources/Prototypes/ADT/Languages/roundstart.yml
Owners: @CrimeMoot, @RedSpyy

Tweak density float from 0 to 185
  Content.Server/ADT/SizeAttribute/SizeAttributeWhitelistComponent.cs
Owners: @CrimeMoot

Slimes are now shorter by default
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Owners: @CrimeMoot, @RedSpyy

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

Revert 089f32d
  Content.Shared/Humanoid/SkinColor.cs
Owners: @CrimeMoot

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

Safety Moth
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Owners: @HyperB1

revert a61b790
  Content.Server/ADT/SizeAttribute/SizeAttributeWhitelistComponent.cs
Owners: @CrimeMoot

reptilian commentary
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Owners: @CrimeMoot, @RedSpyy

human commentary
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Owners: @CrimeMoot, @RedSpyy

diona commentary
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Owners: @CrimeMoot, @RedSpyy

moth commentary
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
Owners: @CrimeMoot, @RedSpyy

Warning comments for scale float modification
  Content.Server/ADT/SizeAttribute/SizeAttributeWhitelistComponent.cs
Owners: @CrimeMoot

fix duplicates
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @CrimeMoot, @RedSpyy

ObjectiveSecCount
  Content.Server/_Ganimed/Objectives/Components/ObjectiveSecCountComponent.cs
  Resources/Prototypes/Objectives/base_objectives.yml
Owners: @CrimeMoot, @RedSpyy

System
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

MinSec
  Content.Server/_Ganimed/Objectives/Components/ObjectiveSecCountComponent.cs
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
  Resources/Prototypes/Objectives/base_objectives.yml
Owners: @CrimeMoot, @RedSpyy

oops
  Content.Server/_Ganimed/Objectives/Components/ObjectiveSecCountComponent.cs
  Resources/Prototypes/Objectives/base_objectives.yml
Owners: @CrimeMoot, @RedSpyy

removed objective
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

remove popus
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

cleaner
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

notes
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

rebase
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

summary
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
Owners: @CrimeMoot

MaxOccurrences
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy
