Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

Откат доступа КМ у ГП
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

StaticSprite RND
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
Owners: @CrimeMoot

holopade and cables fix
  Content.Server/Telephone/TelephoneSystem.cs
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Owners: @CrimeMoot, @RedSpyy

screen_black
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
  Resources/Textures/_Ganimed/Interface/rnd/meta.json
  Resources/Textures/_Ganimed/Interface/rnd/screen_black.png
Owners: @CrimeMoot

fix MaxValue
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
Owners: @CrimeMoot

3600f
  Content.Shared/Telephone/TelephoneComponent.cs
Owners: @CrimeMoot

Update CentCom and SOH role timers
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Owners: @CrimeMoot, @RedSpyy

Updated ERT timers
  Resources/Prototypes/ADT/Entities/Mobs/Player/humanoid.yml
Owners: @CrimeMoot, @RedSpyy

Standardize paramedic syntax
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Owners: @CrimeMoot, @RedSpyy

Fix playtime requirement and commentary
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Owners: @CrimeMoot, @RedSpyy

Sentry turrets - Part 6: Sentry turret control panel
  Content.Client/Access/UI/GroupedAccessLevelChecklist.xaml
  Content.Client/Access/UI/GroupedAccessLevelChecklist.xaml.cs
  Content.Client/TurretController/DeployableTurretControllerSystem.cs
  Content.Client/TurretController/TurretControllerWindow.xaml
  Content.Client/TurretController/TurretControllerWindow.xaml.cs
  Content.Client/TurretController/TurretControllerWindowBoundUserInterface.cs
  Content.Client/Turrets/DeployableTurretSystem.cs
  Content.Client/UserInterface/Controls/MonotoneButton.cs
  Content.Server/TurretController/DeployableTurretControllerSystem.cs
  Content.Server/Turrets/DeployableTurretSystem.cs
  Content.Shared/Access/AccessGroupPrototype.cs
  Content.Shared/TurretController/DeployableTurretControllerComponent.cs
  Content.Shared/TurretController/SharedDeployableTurretControllerSystem.cs
  Content.Shared/Turrets/TurretTargetSettingsSystem.cs
  Resources/Locale/en-US/ui/turret-controls.ftl
  Resources/Locale/ru-RU/ui/turret-controls.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_energy.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/turret_controls.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

ControlPanel
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
Owners: @CrimeMoot, @RedSpyy

remap
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
Owners: @AltMapper

fix migration
  Resources/migration.yml
Owners: @CrimeMoot, @RedSpyy

fix turret map
  Resources/Maps/ADTMaps/ADTStations/adt_aspid.yml
  Resources/Maps/ADTMaps/ADTStations/adt_bagel.yml
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster.yml
  Resources/Maps/ADTMaps/ADTStations/adt_cluster_legacy.yml
  Resources/Maps/ADTMaps/ADTStations/adt_marathon.yml
  Resources/Maps/ADTMaps/ADTStations/adt_packed.yml
  Resources/Maps/ADTMaps/ADTStations/adt_saltern.yml
  Resources/migration.yml
Owners: @AltMapper, @CrimeMoot, @RedSpyy

fix
  Resources/Maps/ADTMaps/ADTStations/adt_box.yml
Owners: @AltMapper

Update update-credits.yml
  .github/workflows/update-credits.yml
Owners: @CrimeMoot, @RedSpyy

Update dump_contributors_since.ps1
  Tools/dump_contributors_since.ps1
Owners: @CrimeMoot

Update dump_github_contributors.ps1
  Tools/dump_github_contributors.ps1
Owners: @CrimeMoot

Allow lizards to be smaller as they are large by default
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Owners: @CrimeMoot, @RedSpyy

un-jackal moth sprites
  Resources/Prototypes/ADT/Entities/Mobs/Species/moth.yml
Owners: @CrimeMoot, @RedSpyy

Increased FTL range as it was before the VGroid
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Owners: @CrimeMoot

GANIMED-TWEAKING-RN
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Owners: @CrimeMoot

Atomizing clone fix
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @CrimeMoot, @RedSpyy

Fix clone traits
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Owners: @CrimeMoot, @RedSpyy

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

Communism Station: Different job names
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Resprites and a new map
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Maps/_Ganimed/salut.yml
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Ganimed/Entities/Objects/Misc/plushies.yml
  Resources/Prototypes/_Ganimed/Maps/salut.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/medical.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/medical.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/medical.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/medical.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/medical.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/medical.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/medical.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/medical.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/medical.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/medical.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/opening.png
  Resources/Textures/_Ganimed/Objects/Fun/toys.rsi/andrew.png
  Resources/Textures/_Ganimed/Objects/Fun/toys.rsi/meta.json
Owners: @HyperB1, @AltMapper, @CrimeMoot, @RedSpyy

Revert "Geras (#236)"
  Content.Client/_Ganimed/Geras/GerasComponent.cs
  Content.Client/_Ganimed/Geras/GerasSystem.cs
  Content.Server/_Ganimed/Geras/GerasComponent.cs
  Content.Server/_Ganimed/Geras/GerasSystem.cs
  Content.Shared/_Ganimed/Geras/SharedGerasComponent.cs
  Content.Shared/_Ganimed/Geras/SharedGerasSystem.cs
  Resources/Locale/ru-RU/_Ganimed/actions/types.ftl
  Resources/Locale/ru-RU/_Ganimed/geras/geras.ftl
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Ganimed/Actions/types.yml
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/_Ganimed/Polymorphs/polymorph.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime_dead.png
Owners: @CrimeMoot, @HyperB1, @RedSpyy

Запрощенный Хайпером фикс
  Resources/Locale/ru-RU/_Ganimed/entities/personalization.ftl
  Resources/Prototypes/_Ganimed/Loadouts/SponsorLoadout.yml
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/meta.json
Owners: @HyperB1, @CrimeMoot

Карта теперь работоспособна
  Resources/Maps/_Ganimed/salut.yml
  Resources/Prototypes/_Ganimed/Maps/salut.yml
Owners: @AltMapper

Soviet station name prefix
  Content.Server/Maps/NameGenerators/NanotrasenNameGenerator.cs
Owners: @CrimeMoot

Sectoral Commitee
  Resources/Locale/ru-RU/job/department.ftl
Owners: @HyperB1

Access level locale
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
Owners: @HyperB1

Update command_sendert.ftl
  Resources/Locale/ru-RU/ADT/administration/command_sendert.ftl
Owners: @HyperB1

SecCom announcement
  Resources/Locale/ru-RU/administration/ui/admin-announce-window.ftl
Owners: @HyperB1

Update announce-command.ftl
  Resources/Locale/ru-RU/administration/commands/announce-command.ftl
Owners: @HyperB1

Update communications-console-component.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
Owners: @HyperB1

Update doc-printer.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
Owners: @HyperB1
