Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

pod and radiation fix (#175)
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
Owners: @CrimeMoot, @RedSpyy

TestActionDetach
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

Add job supervisors magistrat
  Resources/Locale/ru-RU/_Ganimed/job/job-supervisors.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

actions
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

Add QM access for HoP
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

oops
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

todo
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

fix?
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

QM is no longer head, testmerge
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

Changes to timers' localization (#174)
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
Owners: @CrimeMoot, @HyperB1

АВД и юрист переподчинены магистрату (перенос коммита ff88a3f3a0180765c3bf1cbffe49c19f25e0131c)
  Resources/Locale/ru-RU/_Ganimed/job/job-supervisors.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

captain icon and Yuoko in meta
  Resources/Textures/_Ganimed/Interface/Misc/job_icons.rsi/Captain.png
  Resources/Textures/_Ganimed/Interface/Misc/job_icons.rsi/meta.json
Owners: @CrimeMoot

ГП получил доступ квартирмейтера на основании тестмерджа #108 (перенос коммита 33cd643028facde87486105f54c57887f512e917)
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

Our licenses from sprites
  Resources/Textures/_Ganimed/Interface/Misc/job_icons.rsi/meta.json
Owners: @CrimeMoot

pod and radiation fix (#175)
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
Owners: @CrimeMoot, @RedSpyy

Reapply "Doafter Cog" (#168)
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

Revert "Doafter Cog (#164)"
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

Revert "fix tests gihtub (#172)"
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_shuttle_lighting.ftl
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Revert "fix light"
  Resources/Maps/ADTMaps/ADTStations/adt_cyberiada.yml
  Resources/Maps/ADTMaps/Shuttles/mining.yml
  Resources/Maps/ADTMaps/Shuttles/pioneer.yml
  Resources/Maps/ADTMaps/Shuttles/sec_shuttle.yml
Owners: @AltMapper

Revert "bash - я устал босс (#173)"
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Revert "revert"
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

Revert "s"
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Revert "ImmovableRod test"
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

Revert "DOTNET"
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Revert "debug"
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Revert "Content.IntegrationTests zaibal"
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Revert "TestActionDetach"
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

Revert "actions"
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

Revert "todo"
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

Fix jug sprite (#162)
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Textures/Objects/Specific/Chemistry/jug.rsi/jug7.png
  Resources/Textures/Objects/Specific/Chemistry/jug.rsi/jug8.png
  Resources/Textures/Objects/Specific/Chemistry/jug.rsi/meta.json
Owners: @CrimeMoot, @RedSpyy

Fix jug sprite (#162)
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
Owners: @CrimeMoot, @RedSpyy

stack chat (#163)
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/CCVar/CCVars.Chat.cs
  Resources/Locale/ru-RU/_Ganimed/Chat/chatstack.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

Changes to timers' localization (#174)
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
Owners: @CrimeMoot, @HyperB1

chery-pick
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/_Ganimed/Catalog/SupplyPod/supply_pod.yml
  Resources/Prototypes/_Ganimed/Entities/Structures/Storage/SupplyPod/supply_pod_capsule.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @CrimeMoot, @RedSpyy

true event
  Resources/Prototypes/_Ganimed/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

tweak ADTAlwaysPoweredShuttle and Rod
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

autism
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

Revert "Revert "Revert "fix" (возвращение кобуры)" (#156)"
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @CrimeMoot, @RedSpyy, @AltMapper

костылей мало, несите коляску
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1
