Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

fix test
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

fix
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Ganimed/Recipes/Lathes/botany.yml
Owners: @CrimeMoot, @RedSpyy

skip
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Owners: @CrimeMoot

pochemy...
  .github/workflows/adt-build-test-debug-win.yml
Owners: @CrimeMoot, @RedSpyy

debug
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

IsPowered
  Content.Server/Research/Systems/ResearchSystem.Client.cs
Owners: @CrimeMoot

fix traits
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @CrimeMoot

Nerfed Gasleak gamerule
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
Owners: @CrimeMoot

Make gas leak less frequent
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

Change overly emotional new player announcement
  Content.Server/GameTicking/GameTicker.Player.cs
Owners: @CrimeMoot

fix aghost speed
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Owners: @CrimeMoot, @RedSpyy

MaxTraitPoints
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @CrimeMoot

ganimed syka
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @CrimeMoot

Add commentary
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Owners: @CrimeMoot, @RedSpyy

anime edit
  Content.Server/GameTicking/GameTicker.Player.cs
Owners: @CrimeMoot

commentary
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

Mark changes as Ganimed Tweak
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
Owners: @CrimeMoot

tweakin rn
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

Update HumanoidCharacterProfile.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Owners: @CrimeMoot

Понижение нужного количества игроков для антагов
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/game_presets.yml
Owners: @CrimeMoot, @RedSpyy

Генокраду больше не падает цель на сбор ДНК
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
Owners: @CrimeMoot, @RedSpyy

KamazovBaton
  Resources/Locale/ru-RU/ADT/personalization.ftl
  Resources/Prototypes/ADT/Entities/Personalization/Objects/personalization_items.yml
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/equipped-BELT.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/inhand-left-light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/inhand-right-light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/off-inhand-left.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/off-inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/on-inhand-left.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/on-inhand-right.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_off.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_on.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/stunbaton_on_light.png
  Resources/Textures/ADT/Personalization/uma_stunbaton.rsi/uma_stunbaton.rsi.rar
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Увеличение требуемых игроков
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
  Resources/Prototypes/ADT/game_presets.yml
Owners: @CrimeMoot, @RedSpyy

fix count DNA
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
Owners: @CrimeMoot, @RedSpyy

trait menu
  Content.Client/ADT/Lobby/UI/QuirksWindow.xaml
  Content.Client/ADT/Lobby/UI/QuirksWindow.xaml.cs
Owners: @CrimeMoot

menu
  Content.Client/ADT/Lobby/UI/QuirksWindow.xaml
  Content.Client/ADT/Lobby/UI/QuirksWindow.xaml.cs
  Resources/Locale/ru-RU/_Ganimed/traits.ftl
Owners: @CrimeMoot, @HyperB1

Fix license
  Resources/Textures/_Ganimed/Clothing/Head/Hardsuits/hop.rsi/meta.json
Owners: @CrimeMoot

Fix license 2
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/black_helmet.rsi/meta.json
Owners: @CrimeMoot

Attention
  Content.Server/GameTicking/GameTicker.Player.cs
Owners: @CrimeMoot

Turquoise CMO cloak
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Prototypes/_Ganimed/Entities/Clothing/Neck/cloaks.yml
Owners: @HyperB1, @AltMapper

I forgor 💀
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/misc.yml
Owners: @HyperB1, @AltMapper

diamond deflation
  Resources/Prototypes/Reagents/Materials/materials.yml
Owners: @CrimeMoot, @RedSpyy

Watchers now contain resources within themselves
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @CrimeMoot, @RedSpyy

wackpack
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
Owners: @HyperB1

Brigde officer locale and proto fixes
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/_Ganimed/Entities/Clothing/Neck/mantles.yml
Owners: @HyperB1, @AltMapper

Revert "Revert "Job icon radio tag" (#192)"
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Ganimed/IconsJob/JobIconRadioSystem.cs
  Content.Client/_Ganimed/UI/RichText/JobIconRadioTag.cs
  Content.Client/_Ganimed/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/_Ganimed/escape-menu/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

scale
  Content.Client/_Ganimed/UI/RichText/JobIconRadioTag.cs
  Content.Client/_Ganimed/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/_Ganimed/escape-menu/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

Smooth rotation option in combat mode
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Owners: @CrimeMoot

Smooth rotation is on by default
  Content.Shared/CombatMode/CombatModeComponent.cs
Owners: @CrimeMoot

Fix YAML Linter
  Resources/Prototypes/_Ganimed/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Ganimed/Entities/Objects/Misc/id_cards.yml
Owners: @CrimeMoot, @RedSpyy

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1
