Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

3.12
  .github/workflows/locale-check.yml
Owners: @CrimeMoot, @RedSpyy

Configure Git user
  .github/workflows/locale-check.yml
  Tools/ganimed/locale_check_ftl.py
Owners: @CrimeMoot, @RedSpyy

Commit and push changes if any
  .github/workflows/locale-check.yml
Owners: @CrimeMoot, @RedSpyy

Update AntagSelectionSystem.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Owners: @CrimeMoot

IconSmooth
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Owners: @CrimeMoot, @RedSpyy

Range
  Content.Shared/Materials/OreSilo/OreSiloComponent.cs
Owners: @CrimeMoot

sponsor ganimed
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
Owners: @CrimeMoot

fix
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Owners: @CrimeMoot

zashem ti pomenyal...
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
Owners: @CrimeMoot

trash
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
Owners: @CrimeMoot

disable sponsor incognito
  Resources/Locale/ru-RU/_Ganimed/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/_Ganimed/Traits/categories.yml
  Resources/Prototypes/_Ganimed/Traits/disabilities.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Add job supervisors magistrate (New)
  Resources/Locale/ru-RU/ADT/Preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_Ganimed/job/job-supervisors.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

fix UI
  Content.Shared/Silicons/StationAi/Systems/SharedStationAiSystem.Held.cs
Owners: @CrimeMoot

SponsorLoadoutEffect
  Content.Client/Corvax/Sponsors/SponsorsManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Shared/Corvax/Sponsors/ISponsorsManager.cs
  Content.Shared/Preferences/Loadouts/Effects/SponsorLoadoutEffect.cs
Owners: @CrimeMoot

trash
  Content.Client/Corvax/Sponsors/SponsorsManager.cs
Owners: @CrimeMoot

oops
  Content.Client/Corvax/Sponsors/SponsorsManager.cs
Owners: @CrimeMoot

clear
  Content.Client/IoC/ClientContentIoC.cs
Owners: @CrimeMoot

tier sponsor
  Content.Shared/Preferences/Loadouts/Effects/SponsorLoadoutEffect.cs
  Resources/Locale/ru-RU/corvax/preferences/loadouts.ftl
Owners: @CrimeMoot, @HyperB1

Meson Vivison update
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @CrimeMoot

edit
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @CrimeMoot

Возвращение адвоката
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
Owners: @HyperB1

SunShadowCastComponent and clear
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @CrimeMoot

base trait
  Content.Client/ADT/Lobby/UI/QuirksWindow.xaml.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Prototypes/ADT/Traits/neutral.yml
  Resources/Prototypes/ADT/Traits/quirks.yml
Owners: @CrimeMoot, @RedSpyy

radioTextIncrease
  Resources/Prototypes/ADT/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Owners: @CrimeMoot, @RedSpyy

disable font
  Resources/Prototypes/ADT/Languages/collective-mind.yml
  Resources/Prototypes/ADT/Languages/roundstart.yml
  Resources/Prototypes/ADT/Languages/species-exclusive.yml
Owners: @CrimeMoot, @RedSpyy

my pet Geras :3
  Content.Server/_Ganimed/Geras/GerasComponent.cs
  Content.Server/_Ganimed/Geras/GerasSystem.cs
  Content.Shared/_Ganimed/Geras/SharedGerasSystem.cs
  Resources/Locale/ru-RU/_Ganimed/actions/types.ftl
  Resources/Locale/ru-RU/_Ganimed/geras/geras.ftl
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Ganimed/Actions/types.yml
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/_Ganimed/Polymorphs/polymorph.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

instant
  Resources/Prototypes/_Ganimed/Actions/types.yml
Owners: @CrimeMoot, @RedSpyy

sprite
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/_Ganimed/Actions/types.yml
Owners: @CrimeMoot, @RedSpyy

info
  Resources/Prototypes/Species/slime.yml
Owners: @CrimeMoot, @RedSpyy

da
  Resources/Locale/ru-RU/_Ganimed/actions/types.ftl
Owners: @HyperB1

color geras
  Content.Client/_Ganimed/Geras/GerasComponent.cs
  Content.Client/_Ganimed/Geras/GerasSystem.cs
  Content.Server/_Ganimed/Geras/GerasComponent.cs
  Content.Server/_Ganimed/Geras/GerasSystem.cs
  Content.Shared/_Ganimed/Geras/SharedGerasComponent.cs
  Resources/Prototypes/_Ganimed/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/white_adult_slime_dead.png
Owners: @CrimeMoot, @RedSpyy

loadout groups fix
  Resources/Locale/ru-RU/ADT/Job/job-names.ftl
  Resources/Prototypes/ADT/Loadouts/loadout_groups.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

Job supervisors fix
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @CrimeMoot, @RedSpyy

job description fix
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @CrimeMoot, @RedSpyy

resomi sprite fix
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/equipped-OUTERCLOTHING-resomi.png
Owners: @CrimeMoot

Update Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/misc.yml
Owners: @AltMapper

fix
  Content.IntegrationTests/Pair/TestPair.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/ConfigPresets/Enterprise/server_config.toml
Owners: @CrimeMoot

conf delt
  Resources/ConfigPresets/Enterprise/server_config.toml
Owners: @CrimeMoot
