Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

fix?
  Content.Shared/Content.Shared.csproj
Owners: @CrimeMoot

poschyme
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @CrimeMoot

fix?
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @CrimeMoot

test
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @CrimeMoot

test
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @CrimeMoot

locale
  Content.Shared/Localizations/ContentLocalizationManager.cs
Owners: @CrimeMoot

meson debuff
  Content.Client/ADT/MesonVision/MesonVisionOverlay.cs
Owners: @CrimeMoot

Changed base zoom to .7
  Content.Client/Eye/EyeLerpingSystem.cs
  Content.Shared/Movement/Components/ContentEyeComponent.cs
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
Owners: @CrimeMoot, @RedSpyy

Slightly higher BSO timers
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
Owners: @CrimeMoot, @RedSpyy

RequireAdminNotify for BSO
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
Owners: @CrimeMoot, @RedSpyy

Fix QM
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Owners: @CrimeMoot, @RedSpyy

lawyer syntax tweak
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Owners: @CrimeMoot, @RedSpyy

No deaf captain
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Owners: @CrimeMoot, @RedSpyy

Update head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

Update chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Owners: @CrimeMoot, @RedSpyy

Update chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Owners: @CrimeMoot, @RedSpyy

Higher silicon timers
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Owners: @CrimeMoot, @RedSpyy

Update research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Owners: @CrimeMoot, @RedSpyy

Whitespace fix
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Owners: @CrimeMoot, @RedSpyy

Robust HoS
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Owners: @CrimeMoot, @RedSpyy

Cut Cadet access, remove species restriction, add age restriction
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Owners: @CrimeMoot, @RedSpyy

HoS age requirement
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Owners: @CrimeMoot, @RedSpyy

Loyalty implant for BSO
  Resources/Prototypes/ADT/Roles/Jobs/Command/blueshieldofficer.yml
Owners: @CrimeMoot, @RedSpyy

Debatable extended access for senior officer
  Resources/Prototypes/ADT/Roles/Jobs/Security/senior_officer.yml
Owners: @CrimeMoot, @RedSpyy

24+ Captain
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Owners: @CrimeMoot, @RedSpyy

21+ Warden
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Owners: @CrimeMoot, @RedSpyy

job-supervisors-legal
  Resources/Locale/ru-RU/_Ganimed/job/job-supervisors.ftl
Owners: @HyperB1

Grammar
  Resources/Locale/ru-RU/_Ganimed/job/job-supervisors.ftl
Owners: @HyperB1

Testmerge shi
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Owners: @CrimeMoot, @RedSpyy

Magistrate is an important role
  Resources/Prototypes/ADT/Roles/Jobs/Juridical/Magistrat.yml
Owners: @CrimeMoot, @RedSpyy

Syntax backwards compatibility
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Owners: @CrimeMoot, @RedSpyy

Less TC for CMO
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Owners: @CrimeMoot, @RedSpyy

Probably shouldn't mess with these
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Owners: @CrimeMoot, @RedSpyy

Update comments
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

Heads can be antags comments
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Owners: @CrimeMoot, @RedSpyy

I'm tired, boss
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Owners: @CrimeMoot, @RedSpyy

Cuz fuck em
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Owners: @CrimeMoot, @RedSpyy

Command age restriction
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: @CrimeMoot, @RedSpyy

Update chief engineer age restriction
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Owners: @CrimeMoot, @RedSpyy

CMO age restriction
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Owners: @CrimeMoot, @RedSpyy

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1
