Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

env
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

revert
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

Фикс спавна МОДа ГВ
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Owners: @CrimeMoot, @RedSpyy

Суффиксы для МОДов
  Resources/Prototypes/_Ganimed/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Hands/modsuit_gloves.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Shoes/modsuit_boots.yml
Owners: @AltMapper

Суффикс для оболочек МОДа
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/modsuits.yml
Owners: @AltMapper

Удаление приписки ганимед с айдишника МОДов
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/back/mods.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Back/mods.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Hands/modsuit_gloves.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Head/modsuit-helmets.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/modsuits.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Shoes/modsuit_boots.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy, @AltMapper

silicon-overheating
  Resources/Locale/en-US/_Ganimed/silicons/silicons.ftl
  Resources/Locale/ru-RU/_Ganimed/silicons/silicons.ftl
Owners: @HyperB1

radioTextIncrease
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/HeadsetComponent.cs
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/ADT/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

fix
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Resources/Prototypes/ADT/Entities/Personalization/Objects/Taumaturg/taumaturg_job.yml
  Resources/Prototypes/ADT/Heretic/StatusIcon/antag.yml
  Resources/Prototypes/Corvax/StatusEffects/job.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/StatusIcon/security.yml
  Resources/Prototypes/_Ganimed/StatusEffects/job.yml
  Resources/Textures/_Ganimed/Interface/Misc/job_icons.rsi/Captain.png
Owners: @CrimeMoot, @RedSpyy

after
  Resources/Prototypes/ADT/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Owners: @CrimeMoot, @RedSpyy

RadiationBlocker
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Owners: @CrimeMoot, @RedSpyy

interception disable
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

duration
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

TestMerge commentary
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

Merge conflict resolve 1
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @CrimeMoot

bruh
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @CrimeMoot

Merge conflict resolve 2
  Content.IntegrationTests/Tests/Actions/ActionPvsDetachTest.cs
Owners: @CrimeMoot

AccessGroup
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Resources/Locale/ru-RU/_Ganimed/access/id-card-console-component.ftl
  Resources/Prototypes/_Ganimed/Access/extended.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

fix Kitchen
  Resources/Prototypes/_Ganimed/Access/extended.yml
Owners: @CrimeMoot, @RedSpyy

Job icon radio tag
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Ganimed/IconsJob/JobIconRadioSystem.cs
  Content.Client/_Ganimed/UI/RichText/JobIconRadioTag.cs
  Content.Client/_Ganimed/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/_Ganimed/escape-menu/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

Revert "Job icon radio tag (#191)"
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Ganimed/IconsJob/JobIconRadioSystem.cs
  Content.Client/_Ganimed/UI/RichText/JobIconRadioTag.cs
  Content.Client/_Ganimed/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/_Ganimed/escape-menu/options-menu.ftl
Owners: @CrimeMoot, @HyperB1

RadioBoostEnabled activated
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/HeadsetComponent.cs
  Content.Shared/Radio/Components/HeadsetSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Resources/Locale/ru-RU/_Ganimed/headset/headset-component.ftl
Owners: @CrimeMoot, @HyperB1

Update EncryptionKeySystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Owners: @CrimeMoot

Update labeler-changes.yml
  .github/workflows/labeler-changes.yml
Owners: @CrimeMoot, @RedSpyy

Update labeler-approve.yml
  .github/workflows/labeler-approve.yml
Owners: @CrimeMoot, @RedSpyy

Update labeler-needsreview.yml
  .github/workflows/labeler-needsreview.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Content.Client/_Ganimed/UI/RichText/JobIconRadioTag.cs
  Content.Client/_Ganimed/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Owners: @CrimeMoot

oops
  Content.Client/_Ganimed/UI/RichText/JobIconRadioTag.cs
  Content.Client/_Ganimed/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Owners: @CrimeMoot

remove ghost bar
  Content.Client/ADT/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml
  Content.Client/ADT/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml.cs
  Content.Client/ADT/UserInterface/Systems/Ghost/GhostUIController.Ghostbar.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/ADT/Ghostbar/Components/GhostBarPlayerComponent.cs
  Content.Server/ADT/Ghostbar/Components/GhostBarSpawnPointComponent.cs
  Content.Server/ADT/Ghostbar/GhostBarMapPrototype.cs
  Content.Server/ADT/Ghostbar/Systems/GhostBarSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/ru-RU/ADT/guidebook/ghost-gui.ftl
  Resources/Maps/ADTMaps/Ghostbars/calm_ghostly_bar.yml
  Resources/Maps/ADTMaps/Ghostbars/ghostbar_goob.yml
  Resources/Maps/ADTMaps/Ghostbars/ratbar.yml
  Resources/Prototypes/ADT/ghostbar.yml
  Resources/Prototypes/Goobstation/Entities/Markers/Spawners/ghost_roles.yml
Owners: @CrimeMoot, @HyperB1, @AltMapper, @RedSpyy

bahmut otmena
  Resources/Prototypes/_Ganimed/Entities/Effects/SupplyPod/base_supplypod_effects.yml
Owners: @CrimeMoot, @RedSpyy

OnCollide
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Owners: @CrimeMoot

Фикс Еретика
  Resources/Prototypes/ADT/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Owners: @CrimeMoot, @RedSpyy

del
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Owners: @CrimeMoot

i-storm1.ogg
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Prototypes/GameRules/events.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

remove command access
  Resources/Prototypes/_Ganimed/Access/extended.yml
Owners: @CrimeMoot, @RedSpyy

craft
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/drain.yml
  Resources/Prototypes/_Ganimed/Recipes/Construction/Graphs/furniture/sink.yml
  Resources/Prototypes/_Ganimed/Recipes/Construction/Graphs/utilities/drain.yml
  Resources/Prototypes/_Ganimed/Recipes/Construction/furniture.yml
  Resources/Prototypes/_Ganimed/Recipes/Construction/utilities.yml
Owners: @CrimeMoot, @RedSpyy

fix
  Resources/Prototypes/Entities/Structures/Specific/Janitor/drain.yml
Owners: @CrimeMoot, @RedSpyy

update changelog
  .github/workflows/pr-to-discord.yml
  Tools/ganimed/pr_to_discord.py
Owners: @CrimeMoot, @RedSpyy

re.compile
  Tools/ganimed/pr_to_discord.py
Owners: @CrimeMoot

bliat
  Tools/ganimed/pr_to_discord.py
Owners: @CrimeMoot
