Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1

radioTextIncrease fix 2
  Content.Client/ADT/UserInterface/RichText/ToggleableFondTag.cs
Owners: @CrimeMoot

Update Credits
  Resources/Credits/GitHub.txt
Owners: @CrimeMoot

barks
  Content.Shared/ADT/CCVar/ADTCCVars.cs
Owners: @CrimeMoot

CCvars
  Content.Server/_Ganimed/Objectives/Systems/ObjectiveSecCountSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
Owners: @CrimeMoot

game.objectives_sec_limit_enabled
  Content.Shared/CCVar/CCVars.Game.cs
Owners: @CrimeMoot

CCvars
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCvars.GameRrequirements.cs
Owners: @CrimeMoot

game_requirements.antag_objectives_killobjective_need_sec
  Content.Shared/CCVar/CCvars.GameRrequirements.cs
Owners: @CrimeMoot

fix local
  Content.Shared/CCVar/CCvars.GameRequirements.cs
Owners: @CrimeMoot

game_requirements.autoevents_anomaly_spawn_need_rnd
  Content.Server/StationEvents/Components/AnomalySpawnRuleComponent.cs
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Content.Shared/CCVar/CCvars.GameRequirements.cs
Owners: @CrimeMoot

mobState.IsAlive
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
Owners: @CrimeMoot

fix
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
Owners: @CrimeMoot

Update arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Owners: @CrimeMoot, @RedSpyy

dummy scale fix
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Owners: @CrimeMoot, @RedSpyy

Enterprise crime codes
  Resources/Locale/ru-RU/ADT/station-events/events/centcom-random-event.ftl
Owners: @HyperB1

base
  Content.Server/StationEvents/Systems/DepartmentPlayerLimitSystem.cs
  Content.Shared/StationEvents/Components/DepartmentPlayerLimitComponent.cs
  Content.Shared/_Ganimed/CCVar/CCVars.Accessibility.cs
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

reabase
  Content.Server/_Ganimed/StationEvents/Systems/DepartmentPlayerLimitSystem.cs
  Content.Shared/_Ganimed/StationEvents/Components/DepartmentPlayerLimitComponent.cs
Owners: @CrimeMoot

rebase and fix
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Content.Server/StationEvents/Events/BluespaceArtifactRule.cs
  Content.Server/_Ganimed/StationEvents/Systems/DepartmentPlayerLimitSystem.cs
  Content.Shared/_Ganimed/CCVar/CCVars.Accessibility.cs
  Resources/Locale/en-US/station-events/events/anomaly-spawn.ftl
  Resources/Locale/en-US/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

revert and fix GameTicker.GameRule
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Content.Server/StationEvents/Events/BluespaceArtifactRule.cs
  Content.Server/_Ganimed/StationEvents/Systems/DepartmentPlayerLimitSystem.cs
  Resources/Locale/en-US/station-events/events/anomaly-spawn.ftl
  Resources/Locale/en-US/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
Owners: @CrimeMoot, @HyperB1

fix events
  Resources/Prototypes/GameRules/events.yml
Owners: @CrimeMoot, @RedSpyy

Make cockroaches eat twice as long
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @CrimeMoot, @RedSpyy

events limited
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
Owners: @CrimeMoot, @RedSpyy

fix syntax
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
Owners: @HyperB1

tweaks for consistency
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/botany.ftl
  Resources/Prototypes/_Ganimed/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_Ganimed/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Consumable/Food/meals.rsi/meta.json
  Resources/Textures/_Ganimed/Objects/Specific/Hydroponics/shashamber.rsi/meta.json
Owners: @HyperB1, @CrimeMoot, @RedSpyy

rebase and fix shitcode
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/_Ganimed/StationEvents/Systems/DepartmentPlayerLimitSystem.cs
  Content.Shared/_Ganimed/CCVar/CCVars.Accessibility.cs
  Content.Shared/_Ganimed/StationEvents/Components/DepartmentPlayerLimitComponent.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
Owners: @CrimeMoot, @RedSpyy

kill pesone One
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Resources/Locale/en-US/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
Owners: @CrimeMoot, @HyperB1

fix
  Content.Server/Objectives/Components/KillPersonConditionComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Owners: @CrimeMoot

KilledOnce
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Owners: @CrimeMoot

Change Kill Person to "Teach person a lesson"
  Content.Server/_Ganimed/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/_Ganimed/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Locale/en-US/_Ganimed/objectives/conditions/teach-person.ftl
  Resources/Locale/ru-RU/_Ganimed/objectives/conditions/teach-person.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Ganimed/Objectives/traitor.yml
Owners: @CrimeMoot, @HyperB1, @RedSpyy

fix
  Content.Server/_Ganimed/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/_Ganimed/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Prototypes/Objectives/traitor.yml
Owners: @CrimeMoot, @RedSpyy
