Repository CrimeMoot/Ganimed14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CrimeMoot, @RedSpyy, @HyperB1, @AltMapper, @Yuoko

Привязали к коляске синей изолентой чтоб точно не упал
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

костыли на базе
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

oops
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
Owners: @CrimeMoot, @RedSpyy

fix?
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
Owners: @CrimeMoot, @RedSpyy

Возвращение к нормальному состоянию
  Resources/Prototypes/_Ganimed/Entities/Clothing/Belt/belts.yml
Owners: @AltMapper

emotes cooldown (#165)
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Emoting/EmotingComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @CrimeMoot, @RedSpyy

Doafter Cog (#164)
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

remove diamond observer (#167)
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
Owners: @CrimeMoot, @RedSpyy

supply pod (#166)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @CrimeMoot, @RedSpyy

Revert "Doafter Cog" (#168)
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/_Ganimed/Interface/Misc/progress_cog.rsi/meta.json
Owners: @CrimeMoot

more fix, pod and delay emote (#169)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @CrimeMoot, @RedSpyy

fix duplicate locale
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
Owners: @HyperB1

fix tests gihtub (#172)
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_shuttle_lighting.ftl
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

fix light
  Resources/Maps/ADTMaps/ADTStations/adt_cyberiada.yml
  Resources/Maps/ADTMaps/Shuttles/mining.yml
  Resources/Maps/ADTMaps/Shuttles/pioneer.yml
  Resources/Maps/ADTMaps/Shuttles/sec_shuttle.yml
Owners: @AltMapper

bash - я устал босс (#173)
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

revert
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

MobRandom
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

Skipping TestGhostOnDelete because MobRandom prototypes are presen
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

fix proto
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

Skipping TestGhostOnDelete because MobRandom
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
Owners: @CrimeMoot

s
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

ImmovableRod test
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

fix
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

mobrandom
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

fix
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

debug
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

remove adt lighting
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Structures/Lighting/base_shuttle_lighting.ftl
  Resources/Prototypes/ADT/Entities/Structures/Lighting/base_shuttle_lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/Graph/structures/lighting.yml
  Resources/Prototypes/ADT/Recipes/Construction/structures.yml
Owners: @HyperB1, @CrimeMoot, @RedSpyy

migration
  Resources/migration.yml
Owners: @CrimeMoot, @RedSpyy

ContainerContainer
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
Owners: @CrimeMoot

SpawnAndDeleteEntityCountTest
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

SaveTest
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
Owners: @CrimeMoot

EntityCount disable
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

bad Contains
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

Warn.Unless
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

Assert.That
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

Log
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot

beta
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @CrimeMoot, @RedSpyy

manual
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

LASTEXITCODE
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

continue-on-error
  .github/workflows/build-test-debug.yml
Owners: @CrimeMoot, @RedSpyy

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @CrimeMoot

# Database
/Content.*.Database/ @CrimeMoot

# C# content
*.cs @CrimeMoot
/Content.*/ @CrimeMoot
/Content.*/_Ganimed/ @CrimeMoot

# YAML and prototypes
*.yml @CrimeMoot @RedSpyy
/Resources/Prototypes/ @CrimeMoot @RedSpyy

# Localization
*.ftl @HyperB1
/Resources/Locale/ru-RU/ @HyperB1

# Head Mapper
/Resources/Maps/** @AltMapper
/Resources/Prototypes/Maps/** @AltMapper
/Resources/Prototypes/_Ganimed/Maps/** @AltMapper

# Sprites and design (Head Spriter vacant)
# *.png
# *meta.json
# /Resources/Textures/

# Unique content
/Resources/Prototypes/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Loadouts/ @HyperB1
/Resources/Prototypes/_Ganimed/Entities/Clothing/ @AltMapper
/Resources/Prototypes/Entities/Objects/Weapons/ @RedSpyy
/Resources/Prototypes/_Ganimed/Entities/Objects/Weapons/ @RedSpyy

# Lore, Wiki, Guidebook & Rules
*.xml @HyperB1
/Resources/ServerInfo/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/Guidebook/ @AltMapper @Yuoko @HyperB1
/Resources/Prototypes/_Ganimed/Guidebook/ @AltMapper @Yuoko @HyperB1
