Repository CrimeMoot/Ganimed14, pull requests merged in 2025-08, with the labels that each got.

#266 Display Enterprise contributors
  .github/workflows/update-credits.yml
  Tools/dump_contributors_since.ps1
  Tools/dump_github_contributors.ps1
Labels: S: Untriaged, Changes: No C#, S: Needs Review, A: GitHub/Workflows, T: Maintenance

#268 Clone components fixes
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: Changes: No C#, S: Needs Review

#267 Increase shuttle FTL range
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Labels: S: Untriaged, size/XS, P3: Standard, A: General Interactions, C: Upstream files

#272 test debug
  CODE_OF_CONDUCT.md
Labels: size/XS, Changes: No C#

#265 Sentry turrets - Part 6: Sentry turret control panel
  Content.Client/Access/UI/GroupedAccessLevelChecklist.xaml
  Content.Client/Access/UI/GroupedAccessLevelChecklist.xaml.cs
  Content.Client/TurretController/DeployableTurretControllerSystem.cs
  Content.Client/TurretController/TurretControllerWindow.xaml
  Content.Client/TurretController/TurretControllerWindow.xaml.cs
  Content.Client/TurretController/TurretControllerWindowBoundUserInterface.cs
  Content.Client/Turrets/DeployableTurretSystem.cs
  Content.Client/UserInterface/Controls/MonotoneButton.cs
  Content.Server/TurretController/DeployableTurretControllerSystem.cs
  Content.Server/Turrets/DeployableTurretSystem.cs
  Content.Shared/Access/AccessGroupPrototype.cs
  Content.Shared/TurretController/DeployableTurretControllerComponent.cs
  Content.Shared/TurretController/SharedDeployableTurretControllerSystem.cs
  Content.Shared/Turrets/TurretTargetSettingsSystem.cs
  Resources/Locale/en-US/ui/turret-controls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/turret_controls.ftl
  Resources/Locale/ru-RU/ui/turret-controls.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_energy.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
Labels: S: Untriaged, Changes: Localization, size/L, Changes: UI, T: Port, P3: Standard, S: Conceptual Approval, A: Silicon

#274 forensics update
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Storage/EntitySpawnEntry.cs
Labels: S: Untriaged, size/S, S: Needs Review, A: Security, C: Upstream files

#249 Sponsor items for our sponsors
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/personalization/personalization.ftl
  Resources/Prototypes/_Ganimed/Entities/Personalization/personalization_items.yml
  Resources/Prototypes/_Ganimed/Loadouts/SponsorLoadout.yml
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/equipped-NECK.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/icon.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/inhand-left.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/inhand-right.png
  Resources/Textures/_Ganimed/Personalization/Ship_knife.rsi/meta.json
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/equipped-BELT.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/inhand-left-light.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/inhand-right-light.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/meta.json
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/off-inhand-left.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/off-inhand-right.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/on-inhand-left.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/on-inhand-right.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_off.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_on.png
  Resources/Textures/_Ganimed/Personalization/agzamov_stunbaton.rsi/stunbaton_on_light.png
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#, P3: Standard, S: Awaiting Changes, A: General Interactions, A: Sprites/Arts
