Repository CrimeMoot/Ganimed14, pull requests merged in 2025-06, with the labels that each got.

#188 RadiationBlocker
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: Changes: No C#, Status: Needs Review, CL: Valid, A: General Interactions, A: Engineering

#189 Communication interception disable
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/XS, Changes: No C#, T: TestMerge, CL: Valid, S: Conceptual Approval, A: Roundflow/Antag

#205 Еретик больше не гибает цели
  Content.Server/ADT/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.AshAscend.cs
  Content.Server/ADT/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Shared/ADT/Heretic/Components/SacrificedComponent.cs
  Resources/Locale/en-US/_Ganimed/heretic/sacrificed.ftl
  Resources/Locale/ru-RU/_Ganimed/heretic/sacrificed.ftl
Labels: S: Untriaged, Changes: Localization, size/M, S: Needs Review, T: Port, S: Conceptual Approval, A: Roundflow/Antag

#228 sponsor ganimed
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: S: Untriaged, size/M, Changes: UI

#223 Add wall-based ambient occlusion
  Content.Client/Light/AmbientOcclusionOverlay.cs
  Content.Client/Light/EntitySystems/PlanetLightSystem.cs
  Content.Client/Light/RoofOverlay.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Shared/CCVar/CCVars.Lighting.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Shaders/Stencils.yml
Labels: S: Untriaged, Changes: Localization, size/M, Changes: UI, S: Conceptual Approval, A: General Interactions, A: Sprites/Arts

#234 radioTextIncrease fix
  Resources/Prototypes/ADT/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: S: Untriaged, Changes: No C#, A: Chat

#231 SponsorLoadoutEffect
  Content.Client/Corvax/Sponsors/SponsorsManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Shared/Corvax/Sponsors/ISponsorsManager.cs
  Content.Shared/Preferences/Loadouts/Effects/SponsorLoadoutEffect.cs
  Resources/Locale/ru-RU/corvax/preferences/loadouts.ftl
Labels: S: Untriaged, Changes: Localization, size/M, S: Conceptual Approval, P1: High, A: Preferences
