Repository CrimeMoot/Ganimed14, pull requests merged in 2025-02, with the labels that each got.

#46 [Срочно!] Фикс медипенов, удаление сломанных наномашин
  Resources/Locale/ru-RU/_Ganimed/alchemic.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Ganimed/alchemic.yml
Labels: bug, S: Untriaged, Changes: Localization, No C#, size/S

#61 Bandage
  Resources/Locale/ru-RU/_Ganimed/Entities/clothing/neck/bandage.ftl
  Resources/Prototypes/_Ganimed/Entities/Clothing/Neck/bandage.yml
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/elizbandage.rsi/equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/elizbandage.rsi/flipped-equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/elizbandage.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/elizbandage.rsi/icon_flipped.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/elizbandage.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/perefbandage.rsi/equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/perefbandage.rsi/flipped-equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/perefbandage.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/perefbandage.rsi/icon_flipped.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/perefbandage.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/revbandage.rsi/equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/revbandage.rsi/flipped-equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/revbandage.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/revbandage.rsi/icon_flipped.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/revbandage.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/tsfbandage.rsi/equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/tsfbandage.rsi/flipped-equipped-NECK.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/tsfbandage.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/tsfbandage.rsi/icon_flipped.png
  Resources/Textures/_Ganimed/Clothing/Neck/Bandage/tsfbandage.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, No C#, size/M

#66 sendgoal
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Resources/Locale/ru-RU/_Ganimed/administration/commands.ftl
Labels: S: Untriaged, Changes: Localization, size/S
