Repository CrimeMoot/Ganimed14, pull requests merged in 2025-09, with the labels that each got.

#294 Small languages patch
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Device/translators.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/implanters.ftl
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Objects/Misc/subdermal_implants.ftl
  Resources/Prototypes/ADT/Languages/roundstart.yml
Labels: T: Bugfix, Changes: Localization, Changes: No C#, S: Needs Review, P2: Raised, A: Character/Species, A: Chat, A: Roleplay/Lore

#298 MaxOccurrences ion storm
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/XS, Changes: No C#, S: Needs Review

#299 radioTextIncrease fix 2
  Content.Client/ADT/UserInterface/RichText/ToggleableFondTag.cs
Labels: S: Untriaged, size/S

#300 barks on
  Content.Shared/ADT/CCVar/ADTCCVars.cs
Labels: S: Untriaged, size/XS
