Repository CrimeMoot/Ganimed14, pull requests merged in 2025-05, with the labels that each got.

#97 More emote sounds
  Resources/Audio/_Ganimed/Voice/Human/female_cough_3.ogg
  Resources/Audio/_Ganimed/Voice/Human/female_cough_4.ogg
  Resources/Audio/_Ganimed/Voice/Human/female_giggle1.ogg
  Resources/Audio/_Ganimed/Voice/Human/femalescream_10.ogg
  Resources/Audio/_Ganimed/Voice/Human/femalescream_6.ogg
  Resources/Audio/_Ganimed/Voice/Human/femalescream_7.ogg
  Resources/Audio/_Ganimed/Voice/Human/femalescream_8.ogg
  Resources/Audio/_Ganimed/Voice/Human/femalescream_9.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-1.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-2.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-3.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-4.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-5.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-6.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-7.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-8.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_female-9.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-1.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-2.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-3.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-4.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-5.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-6.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-7.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-8.ogg
  Resources/Audio/_Ganimed/Voice/Human/laugh_male-9.ogg
  Resources/Audio/_Ganimed/Voice/Human/male_cough_3.ogg
  Resources/Audio/_Ganimed/Voice/Human/male_cough_4.ogg
  Resources/Audio/_Ganimed/Voice/Human/malescream_10.ogg
  Resources/Audio/_Ganimed/Voice/Human/malescream_11.ogg
  Resources/Audio/_Ganimed/Voice/Human/malescream_7.ogg
  Resources/Audio/_Ganimed/Voice/Human/malescream_8.ogg
  Resources/Audio/_Ganimed/Voice/Human/malescream_9.ogg
  Resources/Audio/_Ganimed/Voice/Human/scream_f2.ogg
  Resources/Audio/_Ganimed/Voice/Human/sneeze_female.ogg
  Resources/Audio/_Ganimed/Voice/Human/sneeze_male.ogg
  Resources/Prototypes/SoundCollections/disease.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/SoundCollections/screams.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Backmen/Voice/speech_emotes.yml
Labels: No C#, Changes: Audio, size/XS

#99 webhook-ban
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Discord/WebhookEmbed.cs
  Content.Server/Discord/WebhookEmbedThumbnail.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Ganimed/BansNotificationSystem/BanEvent.cs
  Content.Server/_Ganimed/BansNotificationSystem/BansNotificationSystem.cs
  Content.Server/_Ganimed/BansNotificationSystem/DepartmentBanEvent.cs
  Content.Server/_Ganimed/BansNotificationSystem/JobBanEvent.cs
  Content.Server/_Ganimed/Discord/DiscordWebhookBanSender.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/_Ganimed/CVar/CCVars.cs
Labels: S: Untriaged, size/M

#98 New pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: S: Untriaged, No C#

#102 Broaden related file paths for codeowners
  .github/CODEOWNERS
Labels: S: Untriaged, No C#

#108 [ADT] [TM] QM removed from command
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/assembly.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/closed.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/closing.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/meta.json
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/open.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Glass/qm.rsi/opening.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/assembly.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/closed.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/closing.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/meta.json
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/open.png
  Resources/Textures/ADT/Structures/Doors/Airlocks/Standard/qm.rsi/opening.png
  Resources/Textures/Interface/Misc/job_icons.rsi/QuarterMaster.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/qm_label.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idquartermaster.png
Labels: S: Untriaged, Changes: Sprites, size/S, Changes: No C#, Status: Needs Review, TestMerge

#112 [ADT] Non-lore races have been removed
  Resources/Prototypes/ADT/Species/Ursus.yml
  Resources/Prototypes/ADT/Species/demon.yml
  Resources/Prototypes/ADT/Species/felinid.yml
  Resources/Prototypes/ADT/Species/kobalt.yml
  Resources/Prototypes/ADT/Species/novakid.yml
  Resources/Prototypes/ADT/Species/shadekin.yml
Labels: S: Untriaged, Changes: No C#

#127 changelog discord
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-to-discord.yml
  Tools/ganimed/pr_to_discord.py
Labels: S: Untriaged, No C#

#132 [ADT] USSP military harduits remake
  Resources/Locale/ru-RU/ADT/prototypes/Entities/Clothing/OuterClothing/hardsuits.ftl
  Resources/Prototypes/ADT/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Localization, size/S, Changes: No C#, Status: Needs Review
