Repository CrimeMoot/Ganimed14, pull requests merged in 2025-07, with the labels that each got.

#219 Add white cult robes
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/_Ganimed/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/equipped-HELMET.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/icon.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/inhand-left.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/inhand-right.png
  Resources/Textures/_Ganimed/Clothing/Head/Helmets/white_cult/meta.json
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/inhand-left.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/inhand-right.png
  Resources/Textures/_Ganimed/Clothing/OuterClothing/Misc/white_cultrobes.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/M, Changes: No C#, S: Needs Review, P3: Standard, CL: Valid, S: Conceptual Approval, A: General Interactions, A: Service

#238 fix git
  .github/workflows/adt-build-test-debug-win.yml
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Pair/TestPair.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/ConfigPresets/Enterprise/server_config.toml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Ganimed/Recipes/Lathes/botany.yml
Labels: S: Untriaged, size/M, S: Needs Review

#243 Admin observer speed fix
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: T: Bugfix, S: Untriaged, size/XS, Changes: No C#, P2: Raised, A: Admin tools

#245 fix count DNA
  Content.Server/ADT/Objectives/Systems/StealDnaConditionSystem.cs
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
Labels: T: Bugfix, size/XS, P2: Raised, A: Roundflow/Antag

#248 360 No Scope
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: T: Enhancement, size/S, T: Port, P3: Standard, CL: Valid, A: General Interactions, A: Combat, C: Upstream files

#252 link
  Content.Client/ADT/Lobby/UI/DiscordLinkWindow.xaml.cs
  Content.Server/Connection/ConnectionManager.cs
  Resources/Prototypes/ADT/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: S: Untriaged, size/S, Changes: UI, A: Guidebook/Wiki, P1: High

#242 Change overly emotional new player announcement
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: size/S, P3: Standard, A: Admin tools

#244 Понижение нужного количества игроков для генокрада и еретика
  Resources/Prototypes/ADT/GameRules/roundstart.yml
  Resources/Prototypes/ADT/Objectives/objectiveGroups.yml
  Resources/Prototypes/ADT/game_presets.yml
Labels: size/S, Changes: No C#, P3: Standard, S: Awaiting Changes, A: Roundflow/Antag, C: Upstream files

#257 job_whitelist loadout
  Content.Shared/_Ganimed/Loadouts/Effects/JobRestrictedLoadoutEffect.cs
  Resources/Locale/ru-RU/corvax/preferences/loadouts.ftl
Labels: T: Enhancement, Changes: Localization, size/S, S: Needs Review, P2: Raised, S: Conceptual Approval, A: Preferences

#261 Sec lockers fix
  Resources/Prototypes/ADT/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: S: Untriaged, Changes: No C#, P3: Standard, A: Security

#256 aghost fix
  Content.Shared/ADT/Mech/Systems/MechPhazeSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: T: Bugfix, size/XS, S: Needs Review, CL: Valid, A: General Interactions, P1: High, S: Requires testing

#264 More fix
  Content.Client/ADT/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Textures/_Ganimed/Interface/rnd/meta.json
  Resources/Textures/_Ganimed/Interface/rnd/screen_black.png
Labels: S: Untriaged, size/S, Changes: UI
