Repository CrimeMoot/Ganimed14, pull requests merged in 2025-04, with the labels that each got.

#81 Loadouts, traits and psionics patch
  Content.Server/Backmen/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Resources/Locale/ru-RU/_Ganimed/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/backmen/trait/Specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/binoculars.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Backmen/Traits/specific.yml
  Resources/Prototypes/_Ganimed/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Ganimed/Loadouts/role_loadouts.yml
Labels: S: Untriaged, Changes: Localization, size/M

#82 [ADT] Return old sprites for chemistry
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-2.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-3.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-4.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-5.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-6.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle.png
  Resources/Textures/Objects/Specific/Chemistry/pills_canister.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/syringeproj.png
Labels: S: Untriaged, Changes: Sprites, size/XS, Changes: No C#

#87 No New Year music
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: S: Untriaged, No C#, size/S

#86 Admin observer speed fix
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, size/XS

#83 [ADT] Resprite cargo locker
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-2.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-3.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-4.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-5.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-6.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/syringeproj.png
  Resources/Textures/Structures/Storage/closet.rsi/cargo_door.png
  Resources/Textures/Structures/Storage/closet.rsi/cargo_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/mining_door.png
  Resources/Textures/Structures/Storage/closet.rsi/mining_open.png
  Resources/Textures/Structures/Storage/closet.rsi/mining_wardrobe_door.png
Labels: S: Untriaged, Changes: Sprites, size/XS, Changes: No C#

#89 Twenty sixth century
  Content.Server/_Ganimed/PrinterInsert/PrinterInsertSystem.cs
Labels: S: Untriaged, size/XS

#90 Enterprise Codeowners
  .github/CODEOWNERS
Labels: S: Untriaged, No C#, size/S

#91 Flamethrower nerf
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
Labels: S: Untriaged, No C#, size/S

#93 Combine cloth wraps into one item
  Resources/Locale/ru-RU/ss14-ru/prototypes/_einsteinengines/entities/clothing/clothwarps.ftl
  Resources/Prototypes/_Backmen/Entities/Clothing/clothwarps.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Under/pants.yml
  Resources/Prototypes/_Ganimed/Entities/Clothing/Under/shirt.yml
  Resources/Prototypes/_Ganimed/Loadouts/Miscellaneous/undergarments.yml
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/equipped-FEET.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/equipped-SOCKS.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/equipped-UNDERPANTS.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/equipped-UNDERSHIRT.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/icon-alt.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/inhand-left.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/inhand-right.png
  Resources/Textures/Backmen/Clothing/Shoes/Misc/clothWrap.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cloth.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cloth.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/Under/Shirt/Brassiere/cloth.rsi/meta.json
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cloth.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cloth.rsi/icon.png
  Resources/Textures/_Ganimed/Clothing/Under/Underpants/Female/cloth.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, No C#, size/M

#95 Small loadouts patch
  Resources/Locale/ru-RU/_Ganimed/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Backmen/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
  Resources/Prototypes/_Ganimed/Loadouts/Jobs/Security/pilot.yml
  Resources/Prototypes/_Ganimed/Loadouts/loadout_groups.yml
Labels: Changes: Localization, No C#, size/M

#94 More appropriate loading screen tip
  Resources/Locale/ru-RU/launcher/launcher-connecting.ftl
Labels: S: Untriaged, Changes: Localization, No C#, size/XS
